	<div class="content">
		<div class="statement">
			<h1>Lorem ipsum dolor sit</h1>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, at eos ipsum assumenda fugit amet distinctio enim cum in repudiandae veritatis delectus iure sit quia ut nisi dignissimos alias reprehenderit, impedit commodi quam? Repellendus, ducimus reiciendis. Repellat corporis necessitatibus possimus mollitia, illo sit odio laudantium. Vero corporis rem recusandae dignissimos totam, culpa facere sunt optio cum illum suscipit, assumenda nulla voluptatem itaque libero dolor consequatur velit. Ullam voluptatum natus nesciunt.</p>
		</div>
    <div class="picture">
      <img src="https://www.fly-jamaica.com/charters/charter-request-form/400x300.gif/@@images/image.gif" alt="">
    </div>
</div>