<div class="container">
<div class="menu-filler"></div>
<div class="menu">
  <button mat-flat-button color="primary">About Us</button>
  <button mat-flat-button color="primary">Join Us</button>
  <button mat-flat-button color="primary">Members</button>
  <button mat-flat-button color="primary">Employers</button>
</div>
<div class="jumbotron">
  <h1>PeopleFocus</h1>
  <h2>Do whatever you want when you want</h2>
  <button mat-flat-button color="primary">Register Now <mat-icon>arrow_right_alt</mat-icon></button>
</div>
<div class="content">
    <div class="statement">
    <h1>Lorem ipsum dolor sit</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nihil sunt dolore a blanditiis sit, molestiae, mollitia explicabo sequi dolor animi labore aut voluptates porro quas non ea nam velit aliquam quasi id odit? Voluptates non veniam optio qui repellendus ad nisi odio distinctio tempore, ullam doloremque unde est itaque inventore corrupti id aspernatur blanditiis deleniti? Assumenda eius ad ex.</p>
  </div>
  <img src="https://www.fly-jamaica.com/charters/charter-request-form/400x300.gif/@@images/image.gif" alt="">
  
</div>
</div>