.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 600px));
  justify-content: center;
  grid-column-gap: 3rem;
  
  width: 100%;
  padding: 5rem 1.5rem 5rem 1.5rem;
}

p {
  font-size: 1.3em;
  line-height: 1.4em;
}

.picture img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 817px) {
  .content {
    padding: 5rem 0 5rem 0;
  }
}