	<div class="content">
		<div class="statement">
			<h1>Lorem ipsum dolor sit</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, dignissimos dolore, quis ipsam aspernatur laudantium
				nesciunt voluptas totam eaque incidunt accusantium minima tempora similique ut quaerat unde officiis ea iste. Commodi
				eius sequi accusantium, iste tenetur quis provident molestiae. Qui quidem maxime nulla quas necessitatibus magnam voluptate,
				ipsam enim ad rem, voluptas eaque voluptatem beatae ipsa quo sit ullam! Voluptatem accusamus ducimus assumenda numquam
				similique fugiat? Fugit libero iure eaque dolorum ipsam ut vero ullam laborum possimus assumenda aspernatur neque odit,
				sit consequuntur facilis quo quibusdam quod, repellat illum. Similique earum velit inventore quo tempore quaerat ducimus
				ad corporis fuga.</p>
		</div>
		<img src="https://www.fly-jamaica.com/charters/charter-request-form/400x300.gif/@@images/image.gif" alt="">
</div>