.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 600px));
  justify-content: center;
  grid-column-gap: 3rem;
  
  width: 100%;
  padding: 5rem 0 5rem 0;
}

p {
  font-size: 1.3em;
  line-height: 1.4em;
}