<div class="footer">
    <div>
      <h3>About Us</h3>
      <ul>
        <li>PeopleFocus, As a glance</li>
        <li>Philosophy</li>
        <li>Services</li>
        <li>Location</li>
        <li>Blog</li>
      </ul>
    </div>
    <div>
      <h3>Join Us</h3>
      <ul>
        <li>Benefits of a Member</li>
        <li>Member Qualifications</li>
        <li>Requirements</li>
        <li>Apply Here</li>
      </ul>
    </div>
    <div>
      <h3>Members</h3>
      <ul>
        <li>Job Available/Best Fit</li>
        <li>Update Profile</li>
        <li>Chat/Social Space</li>
        <li>Development Programs</li>
      </ul>
    </div>
    <div>
      <h3>Employers</h3>
      <ul>
        <li>Resource Available</li>
        <li>Resouce Feedback</li>
        <li>Resource Replacement</li>
      </ul>
    </div>
  </div>