.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  justify-content: space-between;

  padding: 3rem 0 3rem 1rem;
  background: #1b1c1d;
  color: #fff;
  grid-row-gap: 1rem;
}

.footer > div ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  color: rgba(255, 255, 255, 0.575);
  font-size: 14px;
}

.footer > div ul > li {
  display: list-item;
  padding: .2rem 0;
  line-height: 1rem;
}

.footer > div:nth-child(1n) {
  border-left: 3px solid #564AB4;
  padding-left: 1rem;
}

.footer > div:nth-child(2n) {
  border-left: 3px solid #B44A73;
  padding-left: 1rem;
}

.footer > div:nth-child(3n) {
  border-left: 3px solid #A8B44A;
  padding-left: 1rem;
}

.footer > div:nth-child(4n) {
  border-left: 3px solid #4AB48B;
  padding-left: 1rem;
}

@media(min-width: 700px) {
  .footer {
    padding: 3rem 0 3rem 0rem;
  }
}

