@media (min-width: 817px) {
  .main {
    padding: 0;
    display: grid; 
    grid-template-columns: minmax(2rem, 300px) 1fr minmax(2rem, 300px);
    grid-template-rows: min-content max-content min-content;
  }

  .filler-menu-left {
    grid-column: 1/2;
    grid-row: 1/2;
    background: #1b1c1d;
  }

  app-header {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .filler-menu-right {
    grid-column: 3/4;
    grid-row: 1/2;

    background: #1b1c1d;
  }

  .wrapper {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .filler-footer-left {
    grid-column: 1/2;
    grid-row: 3/4;

    background: #1b1c1d;
  }

  .filler-footer-right {
    grid-column: 3/4;
    grid-row: 3/4;

    background: #1b1c1d;
  }

  app-footer {
    grid-column: 2/3;
    grid-row: 3/4;
  }

}