/* LAYOUT */
.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-areas: 
  'a m m m b'
  'j j j j j'
  '. c c c .'
  'x f f f y';
}

.menu {
  grid-area: m;

  background: #1b1c1d;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
}

.jumbotron {
  grid-area: j;
  
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  background: #1b1c1d;
  color: #fff;
}

.jumbotron h1 {
  padding-top: 10rem;
  font-size: 4em;
}

.content {
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 3rem;
  
  width: 100%;
  padding: 5rem 0 5rem 0;
}

.content .statement {
  grid-column: 1/4;
  justify-self: end;
}

.content img {
  grid-column: 4/6;
}

.footer {
  grid-area: f;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding: 3rem 0 3rem 0;
  background: #1b1c1d;
  color: #fff;
}

.footer > div ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  color: rgba(255, 255, 255, 0.575);
  font-size: 14px;
}

.footer > div ul > li {
  display: list-item;
  padding: .2rem 0;
  line-height: 1rem;
}

.footer > div:nth-child(n+2) {
  border-left: 1px solid rgba(255, 255, 255, 0.575);
  padding-left: 1rem;
}

.footer > div:nth-child(1n) {
  grid-column: 1/2;
}

.footer > div:nth-child(2n) {
  grid-column: 2/3;
}

.footer > div:nth-child(3n) {
  grid-column: 3/4;
}

.footer > div:nth-child(4n) {
  grid-column: 4/5;
}

/* BUTTONS */
.menu > .mat-flat-button.mat-primary {
  background-color:rgba(255, 255, 255, .15);
  margin: 0 .5rem 0 .5rem;
}

.jumbotron > .mat-flat-button.mat-primary {
  background-color: #1a69a4;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem 1rem .5rem 1rem;
}

/* FILLERS */
.filler-menu-left {
  grid-area: a;
  background: #1b1c1d;
}

.filler-menu-right {
  grid-area: b;
  background: #1b1c1d;
}

.filler-footer-left {
  grid-area: x;
  background: #1b1c1d;
}

.filler-footer-right {
  grid-area: y;
  background: #1b1c1d;
}